.custom-button {
	min-width: 165px;
	width: auto;
	height: 50px;
	letter-spacing: 0.5px;
	line-height: 50px;
	padding: 0 35px 0 35px;
	font-size: 15px;
	background-color: black;
	color: white;
	text-transform: uppercase;
	font-family: "Open Sans Condensed";
	font-weight: bolder;
	border: none;
	cursor: pointer;
<<<<<<< HEAD
<<<<<<< HEAD
	display: flex;
	justify-content: center;
=======
>>>>>>> 7b84abf... implemented firebase utils, including ability to store authenticated users into firestore database.
=======
	display: flex;
	justify-content: center;
>>>>>>> 64aba91... created cart-item component and connected cart dropdown with cartItems reducer.

	&:hover {
		background-color: white;
		color: black;
		border: 1px solid black;
	}

	&.google-sign-in {
		background-color: #4285f4;
		color: white;

		&:hover {
			background-color: #357ae8;
			border: none;
		}
	}
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> 64aba91... created cart-item component and connected cart dropdown with cartItems reducer.

	&.inverted {
		background-color: white;
		color: black;
		border: 1px solid black;

		&:hover {
			background-color: black;
			color: white;
			border: none;
		}
	}
<<<<<<< HEAD
=======
>>>>>>> 7b84abf... implemented firebase utils, including ability to store authenticated users into firestore database.
=======
>>>>>>> 64aba91... created cart-item component and connected cart dropdown with cartItems reducer.
}
